---
---

@import "{{ site.theme }}";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    padding-bottom: 130px;
    min-height: 100%;
}

header h1 {
    &:before {
        @media (max-width: 900px) {
            opacity: 0;
        }
    }

    a {
        color: #b5e853;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
        text-decoration: none;
    }
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 130px;
    padding-top: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #666;

    .icon {
        display: inline-block;
        width: 32px;
        margin: 0 15px;

        img,
        svg {
            width: 46px;
            height: 46px;
        }
    }
}

.posts-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -30px;

    .post {
        flex: 1 1 280px;
        max-width: 280px;
        background: #202020;
        margin: 30px 10px 0;
        padding: 12px 15px;
        border-radius: 7px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, .7);
        color: #eaeaea;
        text-decoration: none;

        &:hover {
            background: #212121;
            box-shadow: 0 5px 35px rgba(0, 0, 0, .85);
        }

        .title {
            font-size: 1.3em;
            text-align: center;
            line-height: 1.2em;
        }

        .description {
            padding-top: 10px;
            color: #aaaaaa;
        }

        @media (max-width: 999px) {
            max-width: 45%;
        }

        @media (max-width: 666px) {
            width: 100%;
            max-width: none;
            text-align: center;
        }
    }
}

.highlight .err {
    color: #d0d0d0;
    background-color: transparent;
}
