<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        {% feed_meta %}
        {% seo %}
    </head>

    <body>
        <header>
            <div class="container">
                <h1><a href="{{ site.baseurl }}/">{{ site.title | default: site.github.repository_name }}</a></h1>
                <h2>{{ site.description | default: site.github.project_tagline }}</h2>

                <section id="downloads">
                    {% if site.show_downloads %}
                    <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
                    <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
                    {% endif %}
                </section>
            </div>
        </header>

        <div class="container">
            <section id="main_content">
                {{ content }}
            </section>
        </div>

        <footer>
            <a href="/feed.xml" class="icon" title="RSS" target="_blank">
                <img src="/assets/images/rss.png">
            </a>

            <a href="https://github.com/ismd" class="icon" title="GitHub" target="_blank">
                <img src="/assets/images/github.png">
            </a>

            <a href="http://screenshotgun.com" class="icon" title="Screenshotgun" target="_blank">
                <img src="/assets/images/screenshotgun.png">
            </a>

            <a href="http://nighty-night.ru" class="icon" title="Подкаст «Спокойной ночи»" target="_blank">
                <img src="/assets/images/nighty-night.svg">
            </a>
        </footer>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58221606-4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-58221606-4');
        </script>
    </body>
</html>
